.post {
    width: 1200px;
    height: 900px;
    padding: 20px;
    background-color: rgb(231, 240, 240);
    margin: 10px auto;
    border-radius: 1%;
    .container {
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }
    .post_title {
        font-size: 20px;
    }
}

header {
    padding: 20px 20px;
    border-radius: 5px;
    background-color: rgb(49, 48, 47);
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.logout {
    float: right;
}

header a + a:before{
    content: " | ";
    padding: 0 5px;
}

.user {
    margin-top: 10px;
    text-align: end;
}

.delete_post {
    text-align: right;
}

.delete_post a{
    font-size: 18px;
    color: blue;
    border-radius: 2px;
}

button {
    background-color: rgb(17, 212, 238);
    height: 36px;
    width: 80px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    opacity: 80%;
    cursor: pointer;
}

input {
    height: 26px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#id_image {
    height: 21px;
    cursor: pointer;
}

textarea {
    border: 1px solid #ccc;
    
}

image {
    max-width:100%; height:auto
}
