
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>app</title>
</head>
<a href="/">Home</a>
<body>
{% load socialaccount %}

{% if user.is_authenticated %}
<a href="{% url 'account_logout' %}">Log Out</a>
Hi {{ user.email }}!
{% else %}
<a class="btn btn-success" href="{% url 'account_login' %}">Log In</a>
<a class="btn btn-success" href="{% url 'account_signup' %}">Sign Up</a>
<a class="btn btn-success" href="{% provider_login_url 'google' %}">Google</a>
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>