{% extends 'base.html' %} {% block content %}
<ul>
    {% for post in object_list %}
    <div class="post container">
        <div class="container">
            <div class="post_title">{{ post.title }}</div>
            <div>{{post.date_added}}</div>
        </div>
        {% if post.image %}
        <img src="{{ post.image.url}}" alt="{{ post.title }} " height="800" width="600" />
        {% endif %}
        <div>{{post.body}}</div>
            <p class="delete_post"><a href="{% url 'post_delete' post.pk %}">Delete</a></p>

    </div>

    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" style="color:blue">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" style="color:blue">previous</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>
        <br>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" style="color:blue">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" style="color:blue">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
